<h1>Tarefas Project</h1>

<p>
  Escolha uma das ações a seguir:
  <ul>
    <li><%= link_to "Visualizar todas as tarefas", tarefas_path %></li>
    <li><%= link_to "Consultar tarefas por status", status_index_path %></li>
  </ul>
</p>
